*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 1em;
}

header {
  display: flex;
  justify-content: center;
  gap: 2em;
}

main {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
